<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L0</title>
</head>
<body>
    <h4>
        {{.title}}
    </h4>
    <p>{{ .data }}</p>
    <hr>
    <form method="GET" action="/">
        <button>Назад</button>
    </form>
    
</body>
</html>